.shop-container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin: 60px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;


}

.cart-container {
    background-color: rgb(107, 245, 245);
    border-radius: 5px;

}